<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th  >Cant.</th>
                <th  >Nombre</th>
                <th  >Modelo</th>
                <th  >Calidad</th>
                <th  >Color</th>
                <th  >Proveedor</th>
                <th  >Nº Doc.</th>
                <th  >Fecha</th>
                <th  >PvP</th>
                <th  >Observaciones</th>
                <th >Estado</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td> mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td> fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>Bird</td>
                <td> twitter</td>
            </tr>
        </tbody>
    </table>
</div>