#sect1 {
    background-color: #508bfc;
    /* height: 1000px;
    color: 
  #fff;
    background-image: url("../../../assets/fondo4.jpeg");
    background-size: 100%;
    background-size: cover; */
  }

  .bodylogin{
    background-color: rgb(235, 235, 235);
    /* background-color:blue; */
  }