<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6"><h1>Movimientos</h1></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a class="cursor-poiner text-primary" (click)="inicio()"><u>Inicio</u></a>
            </li>
            <li class="breadcrumb-item active">Movimientos</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="col-12 p-3">
                <div class="d-flex justify-content-center">
                  <h3 class="card-title-content">Movimientos</h3>
                </div>
              </div>
              <app-movements-filters
                [searchForm]="searchForm"
                [typemovementform]="typemovementform"
                [namemovementform]="namemovementform"
                [blockbusqueda]="blockbusqueda"
                [typestypemovements]="typestypemovements"
                [typesmovements]="typesmovements"
                (searchKeyUp)="onKeyDownEvent($event)"
                (findClick)="findbutton()"
                (typeChange)="changeLeagueOwnertype()"
                (nameChange)="changeLeagueOwner()"
                (reportClick)="datareset()">
              </app-movements-filters>
            </div>

            <div class="card-body">
              <app-movements-pagination
                [datapage]="datapage" [currentCount]="movements.length"
                [totalentries]="totalentries" [numperpagess]="numperpagess"
                [numperpagesForm]="numperpagesForm"
                (pageChange)="renderPage($event)"
                (perPageChange)="updateSortingperpage()">
              </app-movements-pagination>

              <app-movements-table
                [movements]="movements" [loading]="loading"
                [datapage]="datapage" [totalItems]="totalentries"
                (rowClick)="findonemovement($event)">
              </app-movements-table>

              <app-movements-pagination
                [datapage]="datapage" [currentCount]="movements.length"
                [totalentries]="totalentries" [numperpagess]="numperpagess"
                [numperpagesForm]="numperpagesForm"
                (pageChange)="renderPage($event)"
                (perPageChange)="updateSortingperpage()">
              </app-movements-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-movement-detail-modal
  #detailModal
  [(active)]="active"
  [devoluciones]="devoluciones" [salida]="salida"
  [detalles]="detalles" [editar]="editar"
  [devolucionForm]="devolucionForm"
  [editmovementForm]="editmovementForm"
  [detailsdata]="detailsdata"
  [ins]="ins" [technicians]="technicians"
  [submittedoutmovement]="submittedoutmovement"
  [minvalue]="minvalue" [maxvalue]="maxvalue"
  (saveReturn)="savemovementreturn()"
  (saveEdit)="savemovementedit()"
  (tabSalida)="salidas()"
  (tabDetalles)="detallesin()"
  (tabEditar)="editcoment()">
</app-movement-detail-modal>

<app-movement-report-modal
  [(fechainit)]="fechainit"
  [(fechafin)]="fechafin"
  (generate)="reportemovimientos()">
</app-movement-report-modal>