/* Asegura que los submenús estén más a la derecha */
.nav-treeview {
  padding-left: 10px; /* Ajusta el valor según lo necesites */
}

/* Opcional: Si quieres que los iconos también se alineen con los títulos */
.nav-treeview .nav-icon {
  margin-left: 5px; /* Ajusta si es necesario */
}

/* sidebar.component.css */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilo para los badges */
.badge {
  animation: pulse 2s infinite;
}

.badge-danger {
  background-color: #dc3545;
}

.badge-success {
  background-color: #28a745;
}