<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Movimientos de Personalizados</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a class="cursor-poiner text-primary" (click)="inicio()"><u>Inicio</u></a>
                        </li>
                        <li class="breadcrumb-item active">Moviemientos de Personalizados</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <app-tablemovements></app-tablemovements>
        </div>
    </section>
</div>