/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css"; /* Cambio aquí */

.border-lable-flt {
    display: block;
    position: relative;
  }
  /* span {
    height: 100px;
    display:block;
    } */
  .border-lable-flt label, .border-lable-flt > span {
    color: rgb(0, 110, 255);
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
            transition: all .2s;
    top: -.5em;
    left: 0.75rem;
    z-index: 1003;
    line-height: 1;
    padding: 0 1px;
  }
  .border-lable-flt label::after, .border-lable-flt > span::after {
    
    content: " ";
    display: block !important;
    position: absolute ;
    background: white;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1;
  }
  .border-lable-flt .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
            transition: all .2s;
  }
  .border-lable-flt .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
  }
  .border-lable-flt .form-control:placeholder-shown:not(:focus) + * {
    color: #363636;
    font-size: 100%;
    /* opacity: .5; */
    top: .6em;
  }
  
  .input-group .border-lable-flt {
    display: table-cell;
  }
  .input-group .border-lable-flt .form-control {
    border-radius: 0.25rem;
  }
  .input-group .border-lable-flt:not(:last-child), .input-group .border-lable-flt:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }
  .input-group .border-lable-flt:not(:first-child), .input-group .border-lable-flt:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
